schemaCustomerADF/PartialArmTemplates/ArmTemplate_7_23_2020_16_49_26.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "schemaCustomerADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/iri_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "iri_to_local",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "by_country",
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "iri_source_dataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "iri_sink_dataset",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "iri_dataflow_cups_plates",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "iri_to_local",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "loadFoodTrashBagsToSynapse",
								"type": "DataFlowReference"
							},
							"staging": {
								"linkedService": {
									"referenceName": "LocalStorageLinkedService",
									"type": "LinkedServiceReference"
								},
								"folderPath": "iri-container"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					},
					{
						"name": "iri_dataflow_foils_wraps",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "iri_to_local",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "loadFoilsWrapsToSynapse",
								"type": "DataFlowReference"
							},
							"staging": {
								"linkedService": {
									"referenceName": "LocalStorageLinkedService",
									"type": "LinkedServiceReference"
								},
								"folderPath": "iri-container"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					},
					{
						"name": "iri_dataflow_food_trash_bags",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "iri_to_local",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "loadFoodTrashBagsToSynapse",
								"type": "DataFlowReference"
							},
							"staging": {
								"linkedService": {
									"referenceName": "LocalStorageLinkedService",
									"type": "LinkedServiceReference"
								},
								"folderPath": "iri-container"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/loadFoodTrashBagsToSynapse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/loadFoodTrashBagsToSynapse')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "iri_sink_dataset",
								"type": "DatasetReference"
							},
							"name": "FoodTrashBagsSource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "food_trash_bags_synapse_dataset",
								"type": "DatasetReference"
							},
							"name": "FoodTrashBagsSink"
						}
					],
					"transformations": [
						{
							"name": "ReplaceSpaceWithUnderScore"
						}
					],
					"script": "source(output(\n\t\tDate as string,\n\t\tCounty as string,\n\t\t{Product Category} as string,\n\t\t{Product Brand} as string,\n\t\t{In Stock Rate} as string,\n\t\t{Agg Weight} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true,\n\twildcardPaths:['food_trash_bags*.csv']) ~> FoodTrashBagsSource\nFoodTrashBagsSource select(mapColumn(\n\t\teach(patternMatch(`.*`),\n\t\t\tregexReplace($$,' ','_') = $$)\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> ReplaceSpaceWithUnderScore\nReplaceSpaceWithUnderScore sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tstaged: true,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> FoodTrashBagsSink"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/food_trash_bags_synapse_dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/food_trash_bags_synapse_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "iriSynapse",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "",
					"table": "foodTrashBags"
				}
			},
			"dependsOn": []
		}
	]
}